@model EmpresaViewModel
@using SGI.MVCCliente.ViewModel
@using SGI.MVCCliente.Helpers

@using (Html.BeginForm("Guardar", "Empresa", FormMethod.Get, new { @id = "formEdit" }))
{
    <h4>
        @Html.DisplayFor(model => model.EntityEmpresa.CodigoEmpresa)
    </h4>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.EntityEmpresa.Key.IDEmpresa)
                <div class="form-group">
                    <div class="col-sm-12 text-left">
                        @Html.Label("Codigo Empresa")

                        @Html.TextBoxFor(model => model.EntityEmpresa.CodigoEmpresa,
                        new
                        {
                            @class = "form-control",
                            data_msg_required = "El campo Codigo Empresa es requerido",
                            data_rule_required = "true"
                        })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 text-left">
                        @Html.Label("Razon Comercial")

                        @Html.TextBoxFor(model => model.EntityEmpresa.RazonComercial,
                        new
                        {
                            @class = "form-control",
                            data_msg_required = "El campo Razon Comercial es requerido",
                            data_rule_required = "true"
                        })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 text-left">
                        @Html.Label("Razon Social")

                        @Html.TextBoxFor(model => model.EntityEmpresa.RazonSocial,
                        new
                        {
                            @class = "form-control",
                            data_msg_required = "El campo Razon Social es requerido",
                            data_rule_required = "true"
                        })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 text-left">
                        @Html.LabelFor(model => model.EntityEmpresa.RUC)

                        @Html.TextBoxFor(model => model.EntityEmpresa.RUC,
                        new
                        {
                            @class = "form-control key-integer",
                            data_msg_required = "El campo RUC es requerido",
                            data_rule_required = "true",
                            maxLength = 11
                        })
                    </div>

                    <div class="col-sm-6 text-left">
                        @Html.LabelFor(model => model.EntityEmpresa.Telefono)

                        @Html.TextBoxFor(model => model.EntityEmpresa.Telefono,
                        new
                        {
                            @class = "form-control",
                            data_msg_required = "El campo Telefono es requerido",
                            data_rule_required = "true"
                        })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 text-left">
                        @Html.LabelFor(model => model.EntityEmpresa.Contacto)

                        @Html.TextBoxFor(model => model.EntityEmpresa.Contacto,
                        new
                        {
                            @class = "form-control",
                            data_msg_required = "El campo Contacto es requerido",
                            data_rule_required = "true"
                        })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 text-left">
                        @Html.LabelFor(model => model.EntityEmpresa.Direccion)

                        @Html.TextBoxFor(model => model.EntityEmpresa.Direccion,
                    new
                    {
                        @class = "form-control",
                        data_msg_required = "El campo Direccion es requerido",
                        data_rule_required = "true"
                    })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 text-left">
                        @Html.Label("Tipo Empresa")

                        @Html.DropDownListFor(model => model.EntityEmpresa.IdTipoEmpresa,
                        new SelectList(Model.ListTipoEmpresa, "Key.IdTipoEmpresa", "NombreTipo"),
                        @Constantes.CadenaSeleccione,
                        new
                        {
                            @class = "form-control",
                            data_msg_required = "El campo Tipo Empresa es requerido",
                            data_rule_required = "true"
                        })

                    </div>

                    <div class="col-sm-6 text-left">
                        @Html.Label("Estado")

                        <div class="inline-control" id="estado-grupo">
                            <div class="col-sm-6 radio">
                                <label>
                                    @Html.RadioButtonFor(model => model.EntityEmpresa.Estado, Constantes.Activo,
                                    new
                                    {
                                        data_rule_radio_custom = "#estado-grupo",
                                        data_msg_radio_custom = "El campo Estado es requerido"
                                    })
                                    @Constantes.CadenaActivo
                                </label>
                            </div>

                            <div class="col-sm-6 radio">
                                <label>
                                    @Html.RadioButtonFor(model => model.EntityEmpresa.Estado, Constantes.Inactivo)
                                    @Constantes.CadenaInactivo
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                @*OPCIONES*@
                <div class="form-group" id="opciones">
                    <div class="text-center">
                        <button id="GuardarButton" type="button" class="btn btn-default" onclick="GuardarEmpresa();">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Guardar
                        </button>
                        <button id="EliminarButton" type="button" class="btn btn-danger" onclick="HideModal();">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;Cancelar
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
}